<hr>
<footer class="d-flex gap-3">
    <div class="contenedorRedes d-flex flex-column">
      <h6 class="text-primary fs-4">coinbase</h6>
      <p>© 2024 Coinbase</p>
      <p><a>Blog</a>●<a>Twitter</a>●<a>Facebook</a></p>
    </div>
    <div class="d-flex flex-wrap gap-3">
      <div>
        <b>Acerca de</b>
        <p>Acerca de</p>
        <p>Carreras</p>
        <p>Asociaciones</p>
        <p>Blog</p>
        <p>Gabinete de prensa</p>
        <p>Seguridad</p>
        <p>Inversores</p>
        <p>Proveedores</p>
        <p>Asuntos legales y privacidad</p>
        <p>Política de cookies</p>
        <p>Preferencia de cookies</p>
        <p>No compartir información personal</p>
        <p>Declaraciones sobre activos digitales</p>
      </div>
      <div>
        <b>Personas físicas</b>
        <p>Comprar y vender</p>
        <p>Gane criptomonedas gratis</p>
        <p>Wallet</p>
        <p>NFT</p>
        <p>Tarjeta</p>
        <p>Derivados</p>
        <p>Coinbase One</p>
      </div>
      <div>
        <b>Servicio de asistencia</b>
        <p>Centro de ayuda</p>
        <p>Contacto</p>
        <p>Crear cuenta</p>
        <p>Verificación de la identidad</p>
        <p>Información de la cuenta</p>
        <p>Métodos de pago</p>
        <p>Acceso a cuenta</p>
        <p>Criptomonedas admitidas</p>
        <p>Estado</p>
      </div>
      <div>
        <b>Negocios</b>
        <p>Institucional</p>
        <p>Prime</p>
        <p>Asset Hub</p>
        <p>Commerce</p>
      </div>
      <div>
        <b>Recursos</b>
        <p>Fusión de Ethereum</p>
        <p>Explorar precios de criptomonedas</p>
        <p>Newsletter de Coinbase Bytes</p>
        <p>Aspectos básicos de las criptomonedas</p>
        <p>Consejos y tutoriales</p>
        <p>Novedades del mercado</p>
        <p>¿Qué es el bitcoin?</p>
        <p>¿Qué es una criptomoneda?</p>
        <p>¿Qué es una cadena de bloques?</p>
        <p>Cómo configurar una cartera de criptomonedas</p>
        <p>Cómo enviar criptomonedas</p>
        <p>Impuestos</p>
      </div>
      <div>
        <b>Desarrolladores</b>
        <p>Coinbase Cloud</p>
        <p>Wallet as a Service</p>
        <p>Wallet SDK</p>
        <p>SDK Coinbase Pay</p>
        <p>Nodo</p>
        <p>Commerce</p>
        <p>Base</p>
        <p>Iniciar sesión con Coinbase</p>
        <p>Rosetta</p>
        <p>Coinbase Participate</p>
        <p>API Prime</p>
      </div>
    </div>
  </footer>